
body {
  background-color: rgb(9, 80, 234);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(214, 224, 28);
  background-color: rgb(228, 248, 117);
  position: relative;
}

#walker {
  background-color: rgb(182, 16, 223);
  width: 75px;
  height: 75px;
  position: absolute;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/500px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg);
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
